.authorAndEditor {
  display: flex;
  height: 60px;
  color: #333;
}
.authorAndEditor a {
  color: inherit;
}
.label {
  width: 100%;
  font-size: 0.6rem;
  font-weight: bold;
}
.memberIcon img {
    border-radius: 4px;
}
.icon {
  display: block;
  
}
.icon svg {
  color: #444;
  width: 18px;
  height: 18px;
  font-size: 1rem;
}

.authorName {
  font-size: 0.9rem;
  line-height: 1;
  margin-top: 4px;
}

.authorInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0.6rem;
  font-size: 1rem;
  flex-grow: 1;
}

.authorInfo ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.authorInfo ul li:not(:last-of-type) {
  margin-right: 8px;
}


.authors {
  display: flex;
  margin: 1.5rem 0;
}

.editors {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}
.author + .editors {
  margin-left: 16px;
  padding-left: 16px;
  border-left: 1px solid #d3d3d3;
}
