.postTitle {
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  color: inherit;
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  text-rendering: optimizeLegibility;
  font-size: 1.8rem;
  line-height: 1.5;
}
