.title {
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  color: inherit;
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  text-rendering: optimizeLegibility;
  font-size: 1.8rem;
  line-height: 1.5;
}

.publishedOn {
  margin-top: 0.6rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.label {
  width: 100%;
  font-size: 0.6rem;
}
.authors {
  display: flex;
  margin: 1.5rem 0;
}
.editors {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}
.author + .editors {
  margin-left: 16px;
  padding-left: 16px;
  border-left: 1px solid #d3d3d3;
}
.author {
  display: flex;
  height: 60px;
  color: #333;
}
.author a {
  color: inherit;
}

.author .icon {
  display: block;
  width: 18px;
  height: 18px;
  font-size: 1rem;
  color: #444;
}

.authorName {
  font-size: 0.9rem;
  line-height: 1;
}

.authorInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0.6rem;
  font-size: 1rem;
  flex-grow: 1;
}

.authorInfo ul {
  list-style: none;
  display: flex;
}

.authorInfo ul li:not(:last-of-type) {
  margin-right: 0.6rem;
}
