.members {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  margin: auto;
  max-width: 800px;
}

@media (max-width: 600px) {
  .members {
    max-width: 320px;
    margin: 0 auto;
  }
}

.member {
  margin-bottom: 2.5rem;
  display: flex;
}

.member .details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.2rem 0;
  padding-left: 1.2rem;
}

.member .details .name {
  font-size: 1.4rem;
  font-weight: bold;
}

.member .details .links ul {
  list-style-type: none;
}

.member .details .links ul li {
  font-size: 0.8rem;
}
