.post {
  margin: 0 auto;
}
.post h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.75rem;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  color: inherit;
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  text-rendering: optimizeLegibility;
  font-size: 2.5rem;
  line-height: 1.1;
}

.post h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.2rem;
}

.post h3 {
  margin-top: 1rem;
  font-size: 1.4rem;
}

.post h4 {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.post h5 {
  margin-top: 1rem;
  font-size: 1.4rem;
}

.post h6 {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.post table {
  width: 100%;
  font-size: 1rem;
}

.post img {
  display: block;
  margin: 0.5rem auto 0;
  max-width: 80%;
}

.post p {
  margin-top: 0.8rem;
  line-height: 1.75;
  font-size: 1rem;
}

.post li {
  margin-left: 1rem;
  font-size: 1rem;
}

.post ul {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  box-sizing: border-box;
  line-height: 2;
  margin-left: 1rem;
}

.post ul ul {
  margin: 0;
}

.post ol {
  margin-top: 1rem;
  box-sizing: border-box;
}

.post hr {
  margin-top: 1rem;
}

.post a {
  word-wrap: break-word;
}

.post code:not([class*="language-"]) {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 0.8rem;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}

.post table {
  margin-top: 1rem;
  display: block;
  width: 100%;
  overflow: auto;
}

.post table th {
  font-weight: 600;
}

.post table td,
.post table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.post table tr {
  border-top: 1px solid #c6cbd1;
}
