.tags {
  margin-top: 1.6rem;
  display: flex;
  justify-items: flex-end;
}

.tag {
  font-size: 0.8rem;
  border: 1px solid #888;
  color: #444;
  padding: 0.2rem 0.4rem;
  cursor: pointer;
  margin-right: 0.8rem;
  border-radius: 2px;
}
.tag:link,
.tag:visited {
  color: #444;
}
